<!DOCTYPE html>
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}

{# Коментарий #}

<html>
	<head>	</head>
	<meta chrset="utf-8">
	{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
	{#<link href={% static "style.css"%} type="text/css" rel="text/scc">#}
	<link  type="text/css"  rel="stylesheet" href="{% static 'rss_news/style.css' %}">
	<body>	
	{# header #}
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<span>
							<a class="navbar-brand"><i class="fa fa-random" aria-hidden="true"></i>RSS News</a>
						</span>	
					</div>
				</div>
			</nav>
		<div class="container" style="margin-top: 100px;">
			<div class="row">
				<div class="col-xs-0 col-md-3"></div>
				<div class="col-xs-0 col-md-6">
					
					<div class="post-block">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h3>Title</h3>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div>123weqeqwe</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right">
									<div class="btn-group">
										<button class="btn btn-sm btn-default">Read</button>
										<button class="btn btn-sm btn-default">Add Favorite</button>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<br>
				
					<div class="post-block">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h3>Title</h3>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div>123weqeqwe</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right">
									<div class="btn-group">
										<button class="btn btn-sm btn-default">Read</button>
										<button class="btn btn-sm btn-default">Add Favorite</button>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<br>
					
					<div class="post-block">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h3>Title</h3>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div>123weqeqwe</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right">
									<div class="btn-group">
										<button class="btn btn-sm btn-default">Read</button>
										<button class="btn btn-sm btn-default">Add Favorite</button>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
					<br>
					<br>
				</div>
				<div class="col-xs-0 col-md-3"></div>
			</div>
		</div>
	</body>
</html>